<header>
  <div class="contenido">
      <h2>Rock bands</h2>
  </div>
</header>
<div class="container">
  <div class="row centered">
      <div class="contenedor">
        <img src="assets/imagen.png"/>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm">
      <app-bandas></app-bandas>
      </div>
      <div class="col-sm">
        <div class="card" id="card" style="width: 18rem;">
          <img id="img-card" class="card-img-top" src="https://raw.githubusercontent.com/Uniandes-isis2603/recursos-isis2603/master/images/p2_v2/sodastereo.jpg">
            <div class="card-body" id="card-body">
              <h5 id="img-body" class="card-title">Soda Stereo</h5><p id="img-text" class="card-text">Soda Stereo is an Argentinian rock band formed in Buenos Aires in 1982 by Gustavo Cerati (lead vocals, guitar), Héctor 'Zeta' Bosio (bass) and Carlos Alberto Ficicchia 'Charly Alberti' (drums).</p>
            </div>
        </div>
      </div>
    </div>
</div>

