<table class="table table-striped">
  <thead>
  <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Number of members</th>
  </tr>
  </thead>
  <tbody id="tabla">
    <tr *ngFor="let b of bandas" class="table-secondary">
        <td>
          <dd>{{b.id}}</dd>
        </td>
        <td>
          <dd><a>{{b.name}}</a></dd>
        </td>
        <td>
          <dd>{{b.numberOfMembers}}</dd>
        </td>
    </tr>
  </tbody>
</table>
<p id="aver">Average number of members (rounded up): {{getAver()}}</p>
